{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<head>
    <title>Log in | Django site admin</title>
    <link rel="stylesheet" href="/static/admin/css/base.css">
    
      <link rel="stylesheet" href="/static/admin/css/dark_mode.css">
      <script src="/static/admin/js/theme.js" defer=""></script>
    
    
      <link rel="stylesheet" href="/static/admin/css/nav_sidebar.css">
      <script src="/static/admin/js/nav_sidebar.js" defer=""></script>
    
    <link rel="stylesheet" href="/static/admin/css/login.css">
    <!--href="{C:\Users\jsanchezd01\Documents\GitHub\polls\mysite\polls\static\admin\css\login.css %}">-->
    
    
    
    
    
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <link rel="stylesheet" href="/static/admin/css/responsive.css">
        
    
    <meta name="robots" content="NONE,NOARCHIVE">
    </head>

<body class=" login" data-admin-utc-offset="0">
    <a href="#content-start" class="skip-to-content-link">Skip to main content</a>
    <!-- Container -->
    <div id="container">
   
        
        <!-- Header -->
        
        <div id="header">
            <div id="branding">
            
                <h1 id="site-name"><a href="/admin/">System R&amp;S administration</a></h1>
                <!--
                <h1 id="site-name"><a href="/admin/">Django administration</a></h1>
                -->
            </div>
        </div>
        
        <!-- END Header -->
        <div class="main" id="main">
          <div id="content-start" class="content" tabindex="-1">
            <!-- Content -->
            <div id="content" class="colM">
                <div id="content-main">
                
                
                
                <form action="/admin/login/?next=/admin/" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="PgBCUSLMWIVg06KJA8UtEK9KRYifVoqM9uyQeWMh7UpyUPJpLec2h8PbWelVfZfT">
                <div class="form-row">
                    
                    <label for="id_username" class="required">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                </div>
                <div class="form-row">
                    
                    <label for="id_password" class="required">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                    <input type="hidden" name="next" value="/admin/">
                </div>
                
                
                <div class="submit-row">
                    <input type="submit" value="Log in">
                </div>
                </form>
                <div class="submit-row">
                <a class="btn btn-outline-info" href="/polls/signup">
                <!--href="/polls/signup">--> 
                    Registrarse
                    <i class="material-icons right">edit_note</i>
                </a>
                </div>
                <div class="submit-row">
                <input type="submit" value="Registrarse">
                </div>
                
                </div>  
            <br class="clear">
            </div>
            <!-- END Content -->
            <div id="footer"></div>
          </div>
        </div>
    </div>
    <!-- END Container -->
    
  
    
    



<div class="col s6 center">
    <a class="btn btn-outline-info" href="/polls/signup">
        Registrarse
        <i class="material-icons right">edit_note</i>
    </a>
</div>
    </body>